/* .backgrounds {
  background-image: url("https://s3-us-west-1.amazonaws.com/uniqloassets/parking-parking-lot-underground-garage-2996.jpg");
  background-position: bottom;
} */

.container {
  width:100%;
  height:400px;
  padding:0;
  width:500px;
  margin-left:65%;
  margin-top:10%;
  font-family: 'Roboto', sans-serif;
  background: rgb(137, 231, 243)
}
.login {
  width:100%;
  height:400px;

}
.signup {
  width:100%;
  height:200px;

}