.zipForm {
    border-bottom: 1px lightgray solid;
    padding: 10px;
}

.dateForm {
    padding: 10px;
}

.button {
    background-color: white;
    border: 1px solid grey;
    padding: 3px;
    margin: 5px;
}

.button:hover {
    background-color: lightblue;
}