.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: auto; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.bigMapContainer {
    grid-column: 1 / 2;
}

.listContainer {
    grid-column: 2 / 3;
    /* position: fixed; */
    /* padding: 10px;
    margin: 10px; */
}

.filterContainer {
    /* padding: 10px;
    margin:  5px; */
    z-index: 100;
    position: absolute;
    top: 80%;
    /* opacity: 50%; */
    background-color: rgba(255,255,255,0.5);
}

/* .mapContainer {
    width: 80%;
} */

