.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.bigMapContainer {
    grid-column: 1 / 2;
}

.listContainer {
    grid-column: 2 / 3;
    padding: 10px;
    margin: 10px;
}

.filterContainer {
    padding: 10px;
    margin:  5px;
}

.mapContainer {
    width: 80%;
}

